02_central/terraform/stepfunction_alerting.json
{
  "Comment": "The GitGazer notifications state machine",
  "StartAt": "Iterate all events",
  "States": {
    "Iterate all events": {
      "End": true,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Query notification rule",
        "States": {
          "Process notification rules": {
            "End": true,
            "ItemProcessor": {
              "ProcessorConfig": {
                "Mode": "INLINE"
              },
              "StartAt": "Check if array of notification channels is present and rule is enabled",
              "States": {
                "Check if array of notification channels is present and rule is enabled": {
                  "Choices": [
                    {
                      "IsPresent": true,
                      "Next": "Iterate notification channels",
                      "Variable": "$.channels"
                    }
                  ],
                  "Default": "No notification channels defined",
                  "Type": "Choice"
                },
                "Iterate notification channels": {
                  "End": true,
                  "ItemProcessor": {
                    "ProcessorConfig": {
                      "Mode": "INLINE"
                    },
                    "StartAt": "Choice",
                    "States": {
                      "Call Slack": {
                        "End": true,
                        "Parameters": {
                          "ApiEndpoint.$": "$.M.webhook_url.S",
                          "InvocationConfig": {
                            "ConnectionArn": "${aws_cloudwatch_event_connection_generic_arn}"
                          },
                          "Method": "POST",
                          "RequestBody": {
                            "attachments": [
                              {
                                "blocks": [
                                  {
                                    "text": {
                                      "emoji": true,
                                      "text.$": "States.Format('{} - {}', $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.workflow_name.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.conclusion.S)",
                                      "type": "plain_text"
                                    },
                                    "type": "header"
                                  },
                                  {
                                    "fields": [
                                      {
                                        "text.$": "States.Format('*Organisation:* <http://github.com/{}|{}>', $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.repository.M.owner.M.login.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.repository.M.owner.M.login.S)",
                                        "type": "mrkdwn"
                                      },
                                      {
                                        "text.$": "States.Format('*Repository:* <{}|{}>', $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.repository.M.html_url.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.repository.M.name.S)",
                                        "type": "mrkdwn"
                                      },
                                      {
                                        "text.$": "States.Format('*Workflow:* <{}/actions/runs/{}/workflow|{} / {}>', $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.repository.M.html_url.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.run_id.N, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.workflow_name.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.name.S)",
                                        "type": "mrkdwn"
                                      },
                                      {
                                        "text.$": "States.Format('*Conclusion:* <{}/actions/runs/{}|{}>', $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.repository.M.html_url.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.run_id.N, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.conclusion.S)",
                                        "type": "mrkdwn"
                                      },
                                      {
                                        "text.$": "States.Format('*Sender:* <https://github.com/{}|{}>', $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.sender.M.login.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.sender.M.login.S)",
                                        "type": "mrkdwn"
                                      }
                                    ],
                                    "type": "section"
                                  }
                                ],
                                "color": "#e01e5a"
                              }
                            ]
                          }
                        },
                        "Resource": "arn:aws:states:::http:invoke",
                        "Retry": [
                          {
                            "BackoffRate": 2,
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 1,
                            "JitterStrategy": "FULL",
                            "MaxAttempts": 3
                          }
                        ],
                        "Type": "Task"
                      },
                      "Call third-party API": {
                        "End": true,
                        "Parameters": {
                          "ApiEndpoint.$": "$.M.url.S",
                          "Authentication": {
                            "ConnectionArn": "${aws_cloudwatch_event_connection_generic_arn}"
                          },
                          "Method.$": "$.M.method.S",
                          "RequestBody": {
                            "text.$": "States.Format($.M.body.S, $$.Execution.Input[0].dynamodb.NewImage.workflow_event.M.workflow_job.M.workflow_name.S)"
                          }
                        },
                        "Resource": "arn:aws:states:::http:invoke",
                        "Retry": [
                          {
                            "BackoffRate": 2,
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 1,
                            "JitterStrategy": "FULL",
                            "MaxAttempts": 3
                          }
                        ],
                        "Type": "Task"
                      },
                      "Choice": {
                        "Choices": [
                          {
                            "And": [
                              {
                                "StringEquals": "HTTP",
                                "Variable": "$.M.type.S"
                              },
                              {
                                "IsPresent": true,
                                "Variable": "$.M.body.S"
                              },
                              {
                                "IsPresent": true,
                                "Variable": "$.M.method.S"
                              },
                              {
                                "IsPresent": true,
                                "Variable": "$.M.url.S"
                              }
                            ],
                            "Next": "Call third-party API"
                          },
                          {
                            "And": [
                              {
                                "StringEquals": "SLACK",
                                "Variable": "$.M.type.S"
                              },
                              {
                                "IsPresent": true,
                                "Variable": "$.M.webhook_url.S"
                              }
                            ],
                            "Next": "Call Slack"
                          }
                        ],
                        "Default": "Not yet implemented",
                        "Type": "Choice"
                      },
                      "Not yet implemented": {
                        "Comment": "Sink for not yet implemented notification methods",
                        "Type": "Succeed"
                      }
                    }
                  },
                  "ItemsPath": "$.channels.L",
                  "Type": "Map"
                },
                "No notification channels defined": {
                  "Type": "Succeed"
                }
              }
            },
            "ItemsPath": "$.Items",
            "Type": "Map"
          },
          "Query notification rule": {
            "Next": "Process notification rules",
            "Parameters": {
              "ExpressionAttributeNames": {
                "#BR": "head_branch",
                "#O": "owner",
                "#R": "rule",
                "#REPO": "repository_name",
                "#WF": "workflow_name",
                "#enabled": "enabled",
                "#ignoreDependabot": "ignore_dependabot",
                "#integrationId": "integrationId"
              },
              "ExpressionAttributeValues": {
                ":br": {
                  "S.$": "$.dynamodb.NewImage.workflow_event.M.workflow_job.M.head_branch.S"
                },
                ":dependabotUser": {
                  "S": "dependabot[bot]"
                },
                ":dependabotWorkflow": {
                  "S": "Dependabot"
                },
                ":empty": {
                  "S": ""
                },
                ":enabled": {
                  "Bool": true
                },
                ":ignoreDependabotFalse": {
                  "Bool": false
                },
                ":integrationId": {
                  "S.$": "$.dynamodb.NewImage.integrationId.S"
                },
                ":owner": {
                  "S.$": "$.dynamodb.NewImage.workflow_event.M.repository.M.owner.M.login.S"
                },
                ":repo": {
                  "S.$": "$.dynamodb.NewImage.workflow_event.M.repository.M.name.S"
                },
                ":sender": {
                  "S.$": "$.dynamodb.NewImage.workflow_event.M.sender.M.login.S"
                },
                ":star": {
                  "S": "*"
                },
                ":wf": {
                  "S.$": "$.dynamodb.NewImage.workflow_event.M.workflow_job.M.workflow_name.S"
                },
                ":wf_name": {
                  "S.$": "$.dynamodb.NewImage.workflow_event.M.workflow_job.M.name.S"
                }
              },
              "FilterExpression": "#enabled = :enabled AND (#R.#O = :owner OR #R.#O = :star OR #R.#O = :empty) AND (#R.#REPO = :repo OR #R.#REPO = :star OR #R.#REPO = :empty) AND (#R.#WF = :wf OR #R.#WF = :star OR #R.#WF = :empty) AND (#R.#BR = :br OR #R.#BR = :star OR #R.#BR = :empty) AND (attribute_not_exists(#ignoreDependabot) OR #ignoreDependabot = :ignoreDependabotFalse OR (:sender <> :dependabotUser AND :wf_name <> :dependabotWorkflow))",
              "IndexName": "${notification_rules_table_index_name}",
              "KeyConditionExpression": "#integrationId = :integrationId",
              "Select": "ALL_ATTRIBUTES",
              "TableName": "${notification_rules_table_name}"
            },
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Type": "Task"
          }
        }
      },
      "Type": "Map"
    }
  }
}
